

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 30px;
}


/* footer style */

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  font-size:70%;
}

/* google maps */
.google-maps {
  position: relative;
  padding-bottom: 60%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/* needed for work type labels */
.label-Work {
	background: #d9534f;
}

.label-Stage {
	background: #f0ad4e;
} 

.label-Project {
	background: #438bca;
}

.label-Phase {
	background: #5bc0d3;
}

.label-Build {
	background: #777;
}

.label-Shot {
	background: #62c462;
}

/* needed for Gantt chart */
/*.gantt-Work {
  border: 0px solid #d9534f;
  border-top-width: 10px;
}

.gantt-Stage {
  border: 0px solid #f0ad4e;
  border-top-width: 10px;
} 

.gantt-Project {
  border: 0px solid #438bca;
  border-top-width: 10px;
}

.gantt-Phase {
  border: 0px solid #5bc0d3;
  border-top-width: 10px;
}

.gantt-Build {
  border: 0px solid #777;
  border-top-width: 10px;
}

.gantt-Shot {
  border: 0px solid #62c462;
  border-top-width: 10px;
}*/