/**
#Container {
	background: #e8e8e8;
	padding: 20px 0;
}
**/

#Container .mix {
	display: none;
	text-align: center;
	padding: 0;
}

#Container .control-bar {
	padding-bottom: 25px;
}

#Container .control-grp {
	display: inline;
	padding: 0 0 30px 0;
}

.mixInner {
	margin: 0 5px 10px 5px;
	padding: 10px;
	background: #f0f0f0;
}

}.mix:last-child {
	margin-bottom: 0;
}

.mix:before, .mix:after {
	display:block;
	position: absolute;
	width: 10px;
	height: 10px;
	top: 0px;
	left: 5px;
	content: "";
}

/*** status-0 == READY TO BEGIN ***/
.mix.status-0:after {
	border-top: solid 7px #428bca;
	border-left: solid 7px #428bca;
	border-right: solid 7px transparent;
	border-bottom: solid 7px transparent;
}

/*** status-1 == IN PROGRESS ***/
.mix.status-1:after {
	border-top: solid 7px #5bc0de;
	border-left: solid 7px #5bc0de;
	border-right: solid 7px transparent;
	border-bottom: solid 7px transparent;
}

/*** status-2 == COMPLETED ***/
.mix.status-2:after {
	border-top: solid 7px #777;
	border-left: solid 7px #777;
	border-right: solid 7px transparent;
	border-bottom: solid 7px transparent;
}

/*** status-3 == ON HOLD ***/
.mix.status-3:after {
	border-top: solid 7px #f0ad4e;
	border-left: solid 7px #f0ad4e;
	border-right: solid 7px transparent;
	border-bottom: solid 7px transparent;
}
