{% extends "_site/base.html" %}
{% load staticfiles %}
{% load mptt_tags %}
{% load ptasks_extras %}

<!-- title -->
{% block title %}
DPA {{ ptask.ptask_type }}: {{ ptask.spec }}
{% endblock %}


<!-- img -->
{% block images %}
<img src="{% static 'images/grid.png' %}" />
<img src="{% static 'images/jqgantt/icon_sprite.png' %}" >
<img src="{% static 'images/jqgantt/slider_handle.png' %}" >
{% endblock %}

<!-- CSS -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/mix_custom.css' %}" rel="stylsheet">
<link rel="stylesheet" href="{% static 'css/jqgantt/style.css' %}" rel="stylsheet">
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="http://taitems.github.com/UX-Lab/core/css/prettify.css" rel="stylesheet" type="text/css">
<style type="text/css">
      body {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 13px;
        padding: 0 0 50px 0;
      }
      .contain {
        width: 800px;
        margin: 0 auto;
      }
      h1 {
        margin: 40px 0 20px 0;
      }
      h2 {
        font-size: 1.5em;
        padding-bottom: 3px;
        border-bottom: 1px solid #DDD;
        margin-top: 50px;
        margin-bottom: 25px;
      }
      table th:first-child {
        width: 150px;
      }
      /* Bootstrap 3.x re-reset */
      .fn-gantt *,
      .fn-gantt *:after,
      .fn-gantt *:before {
        -webkit-box-sizing: content-box;
           -moz-box-sizing: content-box;
                box-sizing: content-box;
      }
</style>
{% endblock %}

{% block content %}
<div class="container">  
  <div class="row-fluid">
    <div class="col-md-12">
      <div class="page-header">
        <div class="row">
          <div class="col-md-14">
            <table style="width: 100%;">
              <tr>
                <h1>Timeline for {{ ptask.name }}</h1>
              </tr>
              <tr><div class="gantt"></div>
              </tr>
            </table>
            
          </div>
        </div>
      </div> 
    </div> 
  </div> 
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/jqgantt/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jqgantt/jquery.fn.gantt.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jqgantt/dataDays.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jqgantt/dataDaysEnh.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jqgantt/dataHours.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jqgantt/jquery.cookie.js' %}"></script>  
<script type="text/javascript" src="{% static 'js/jquery.mixitup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mix_custom.js' %}"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="http://taitems.github.com/UX-Lab/core/js/prettify.js"></script>
<script type="text/javascript" >
    $(function() {
      
      "use strict";
      
      // create source data for drawing gantt chart
      var data='[';  

      var start_date = {{ptask|get_formated_start_date}};
      var end_date = start_date + 15*24*3600*1000;;//{{ptask|get_formated_end_date}};
      var value = '"values": [{"from": "/Date('+start_date+')/","to": "/Date('+end_date+')/","label": "{{ptask.description}}","customClass": "gantt-{{ptasks.ptask_type}}"}]},';
      data += '{"name": "{{ptask.name}}","desc": "",'+value;
     
      var base_level = {{ptask.ptask_type.level_hint}} ;
      var level_diff; 

      console.log("{{filter_level}}");

      {% recursetree ptask.get_descendants %}
          start_date = {{node|get_formated_start_date}};
          end_date = start_date + 15*24*3600*1000;//{{node|get_formated_end_date}};
          value = '"values": [{"from": "/Date('+start_date+')/","to": "/Date('+end_date+')/","label": "{{node.description}}","customClass": "gantt-{{node.ptask_type}}"}]},';

          level_diff=({{node.ptask_type.level_hint}}-base_level)*4;
        
          // var leading_space="";
          // for (var i=0; i<level_diff;i++) {
          //   leading_space += " ";
          // }

          // var name_level = leading_space+"{{node.name}}";
          data += '{"name":"{{node.name}}","desc": "","level":"' + level_diff +'",'+value;
          // console.log(data);
          // {% if not node.is_leaf_node %}
          //   {{children}}
          // {% endif %}
      {% endrecursetree %}
    
      data=data.substring(0, data.length-1);
      data+=']';
      
      // parse as JSON type data
      var jsonData = JSON.parse(data);

      $(".gantt").gantt(
      {
        source: jsonData,
        navigate: "scroll",
        maxScale: "days",
        itemsPerPage: 20,
        // onItemClick: function(data) {
        //   alert("Item clicked - show some details");
        // },
        // onAddClick: function(dt, rowId) {
        //   alert("Empty space clicked - add an item!");
        // },
        onRender: function() {
          if (window.console && typeof console.log === "function") {
            console.log("chart rendered");
          }
        }
      });
     // }
      // $(".gantt").popover({
      //   selector: ".bar",
      //   title: "I'm a popover",
      //   content: "And I'm the content of said popover.",
      //   trigger: "hover"
      // });

      prettyPrint();
    });</script>  
{% endblock %}
